@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --font-inter: var(--font-inter);
  --font-space: var(--font-space);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-space: var(--font-space);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.font-space {
  font-family: var(--font-space), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Scrollbar customizado para dropdown de produtos */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #a8adc3 #f1f5f9;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
  margin: 4px 0;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #a8adc3;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #7d8089;
}
